<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2>Create Proposal</h2>
    </div>
    <div class="card-body">
      <p>Legislative Documents</p>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let template of templates; index as i" [routerLink]="['/document-editor', template.code]">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ template.code }}</td>
          <td>{{ template.type }}</td>
          <td>{{ template.name }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
